Prácticas/PedidosSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name='Pedidos'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='pedido' maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name='tlfnocliente'   type='xsd:integer'/>
              <xs:element name='fechapedido' type='xsd:date'/>
              <xs:element name='contenido'   type='xsd:string'/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
